*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 15px;
	font-family: sans-serif;
	background-color: #f4f4f4;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header{
	background: linear-gradient(to right, #70e6e0, #34a39e);
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 3px solid #960083;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
	padding-bottom: 50px;
}

#branding img{
	width: 80px;
	height: 80px;
	display: inline
	padding-top: 50px;
}

header nav{
	float: right;
	margin-top: 10px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

ul{
	margin: 0;
	padding: 0;
}

header #branding, header .active a{
	color: #fff;
	font-weight: bold;

}

header a:hover{
	color: #000000;
	font-weight: bold;
}

#showcase{
	min-height: 400px;
	background: url(props/bekgron1.png) 0px -40px;
	text-align: center;
	color: #000000;
}

#showcase h1{
	margin-top: 120px;
	font-size: 55px;
	margin-bottom: 10px;
	text-shadow: 2px 2px 5px #000000;
}

#showcase p{
	font-size: 20px;
}

#newsletter{
	padding: 15px;
	color: #fff;
	background: linear-gradient(to right, #34a39e, #70e6e0);
}

#newsletter h1{
	float: left;
	padding-top: 15px;
}

#newsletter form{
	float: right;
	margin-top: 12px;
}

#newsletter input[type="letter"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}

.buttonsubs{
	height: 38px;
	border: 0;
	padding-left: 20px;
	padding-right: 20px; 
}

#boxes{
	padding: 25px;
	display: inline-block;
}

#boxes .box{
	cursor: pointer;
	width: 300px;
	height: 350px;
	margin: 0 25px 25px 0;
	overflow: hidden;
	box-shadow: 1px 1px 5px 1px #cdcdcd;
	border-radius: 15px;
	float: left;
}

.box > img{
	width: 100%;
	height: 60%;
	object-fit: cover;
}

.box h3{
	width: 100%;
	height: 10%;
	padding: 10px 20px;
}

.box > p{
	width: 100%;
	height: 30%;
	padding: 10px 20px;
	text-overflow: ellipsis;
}

#boxes .box:hover{
	box-shadow: 1px 1px 5px 0 darkcyan;
}

footer{
	padding: 20px;
	margin-top: 20px;
	color: #fff;
	background: linear-gradient(to right, #70e6e0, #34a39e);
	text-align: center;
}